@import "tailwindcss";

/* Hide scrollbar for all browsers */
html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}